fastapi
uvicorn[standard]
python-multipart
langchain
langchain-community
langchain-text-splitters
pymupdf
httpx
python-dotenv
numpy
edge-tts
google-cloud-texttospeech
google-generativeai
google-auth
redis[asyncio]
PyJWT
mutagen
boto3
faster-whisper